
python-dotenv
py-trello
py-cord
audioop-lts

PyNaCl
davey

# Audio/Video downloading
yt-dlp

# Music platform APIs and scrapers
spotipy
spotifyscraper[all]
requests
syncedlyrics
lyricsgenius
playwright
python-dotenv  # <-- NEW

# Utilities
cachetools
psutil
paramiko